

body {
    color:#FFFFFF!important;
    font: !important;
    font-family:Default!important;
    text-align: left;
}
.header-wrapper{
    background: #FF4D4D!important;
}      
.footer-wrapper{
    background: none repeat scroll 0 0  #FFFFFF!important;
}
        