<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Themevast>
            <version>1.0.0</version>
        </Themevast_Themevast>
    </modules>
    <frontend>
        <routers>
            <themevast>
                <use>standard</use>
                <args>
                    <module>Themevast_Themevast</module>
                    <frontName>themevast</frontName>
                </args>
            </themevast>
        </routers>
        <layout>
            <updates>
                <themevast>
                    <file>themevast/themevast.xml</file>
                </themevast>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <themevast>
                <use>admin</use>
                <args>
                    <module>Themevast_Themevast</module>
                    <frontName>themevast</frontName>
                </args>
            </themevast>
        </routers>
    </admin>
<!--     <adminhtml>
        <layout>
            <updates>
                <themevast>
                    <file>themevast/themevast.xml</file>
                </themevast>
            </updates>
        </layout>
    </adminhtml>   --> 
    <global>
        <models>
            <themevast>
                <class>Themevast_Themevast_Model</class>
                <resourceModel>themevast_mysql4</resourceModel>
            </themevast>
        </models>
        <blocks>
            <themevast>
                <class>Themevast_Themevast_Block</class>
            </themevast>
        </blocks>
        <helpers>
            <themevast>
                <class>Themevast_Themevast_Helper</class>
            </themevast>
        </helpers>
        <events>
            <admin_system_config_changed_section_themevast>
                <observers>
                    <coloroption>
                        <type>singleton</type>
                        <class>Themevast_Themevast_Model_Observer</class>
                        <method>cssgen</method>
                    </coloroption>
                </observers>
            </admin_system_config_changed_section_themevast>
        </events> 
    </global>
    <adminhtml>
        <layout>
            <updates>
                <themevast_themevast>
                    <file>themevast.xml</file>
                </themevast_themevast>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <themevast translate="title" module="themevast">
                                            <title>Themevast</title>
                                        </themevast>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <themevast>
            <general>
                
                <package>tv_modern_package</package>
                <theme>tv_modern_2</theme>
                <cms_home_page>home_modern2</cms_home_page>
                <new_label>1</new_label>
                <sale_label>1</sale_label>
                <sale_percent>0</sale_percent>
            </general>
        </themevast>
    </default>
</config>

