<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules> 
		<Schogini_Producttextlogo>
			<version>1.0.0</version> 
		</Schogini_Producttextlogo>
	</modules>
	<global>
		<models>
            <schogini_producttextlogo>
                <class>Schogini_Producttextlogo_Model</class>
                <resourceModel>producttextlogo_mysql4</resourceModel>
            </schogini_producttextlogo>
            <schogini_producttextlogo_mysql4>
                <class>Schogini_Producttextlogo_Model_Mysql4</class>
            </schogini_producttextlogo_mysql4>
        </models>
		<resources>
			<schogini_producttextlogo_setup>
				<setup>
					<module>Schogini_Producttextlogo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</schogini_producttextlogo_setup>
			<schogini_producttextlogo_write>
				<connection>
					<use>core_write</use>
				</connection>
			</schogini_producttextlogo_write>
			<schogini_producttextlogo_read>
				<connection>
					<use>core_read</use>
				</connection>
			</schogini_producttextlogo_read>
		</resources>
		<helpers>
			<producttextlogo>
                <class>Schogini_Producttextlogo_Helper</class>
            </producttextlogo>
            <schogini_producttextlogo>
                <class>Schogini_Producttextlogo_Helper</class>
            </schogini_producttextlogo>
        </helpers>
		<events>
			<catalog_product_save_before>
				<observers>
					<schogini_producttextlogo_observer>
						<type>singleton</type>
						<class>Schogini_Producttextlogo_Model_Observer</class>
						<method>add_product_text_logo</method>
					</schogini_producttextlogo_observer>
				</observers>
			</catalog_product_save_before>    
		</events>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<schogini>
											<title>Schogini - All</title>
										</schogini>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>