<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Lastesttweet>
            <version>0.1.0</version>
        </Themevast_Lastesttweet>
    </modules>
    <frontend>
        <routers>
            <lastesttweet>
                <use>standard</use>
                <args>
                    <module>Themevast_Lastesttweet</module>
                    <frontName>lastesttweet</frontName>
                </args>
            </lastesttweet>
        </routers>
        <layout>
            <updates>
                <lastesttweet>
                    <file>themevast/lastesttweet.xml</file>
                </lastesttweet>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<lastesttweet>
				<use>admin</use>
				<args>
					<module>Themevast_Lastesttweet</module>
					<frontName>lastesttweet</frontName>
				</args>
			</lastesttweet>
        </routers>
    </admin> 
    <global>
        <blocks>
            <lastesttweet>
                <class>Themevast_Lastesttweet_Block</class>
            </lastesttweet>
        </blocks>
        <helpers>
            <lastesttweet>
                <class>Themevast_Lastesttweet_Helper</class>
            </lastesttweet>
        </helpers>
    </global>
	<default>
		<lastesttweet>
			<general>
				<enabled>1</enabled>
				<heading_title>Latest Tweets</heading_title>
                <twitteruser>Themevast</twitteruser>
                <consumerkey>52TF6ArCLLVjBoUcKH17RhoJ9</consumerkey>
                <consumersecret>J6u0UpicStZdrem2vsXx9t8QQKWRvSSJg1re5RfyFwX1dDFArN</consumersecret>
                <accesstoken>2841891709-c4du9QjTTTjQrqtPrOPvRGbxMXcMfc5XrlbydUE</accesstoken>
                <accesstokensecret>q2167b3okqOKh9JfTaFkLIeEuLK3pxlEQZyBpRcDxB4Pv</accesstokensecret>
				<notweets>2</notweets>
				<show_time>1</show_time>	
			</general>
		</lastesttweet>
	</default>
</config>

