<?xml version="1.0"?>
<config>
  <modules>
    <Themevast_Quickview>
      <version>0.1.0</version>
    </Themevast_Quickview>
  </modules>
  <frontend>
    <routers>
      <quickview>
        <use>standard</use>
          <args>
            <module>Themevast_Quickview</module>
            <frontName>quickview</frontName>
          </args>
      </quickview>
    </routers>
		<layout>
		  <updates>
			<quickview>
			  <file>themevast/quickview.xml</file>
			</quickview>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <quickview>
        <class>Themevast_Quickview_Helper</class>
      </quickview>
    </helpers>
	<blocks>
	  <quickview>
		<class>Themevast_Quickview_Block</class>
	  </quickview>
	</blocks>
  </global>
  <default>
  <quickview>
   <general>
     <enabled>1</enabled>
   </general>
  </quickview>
  </default>
</config> 