<?xml version="1.0"?>
<!--
/**
 * Fontis WYSIWYG Editor Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Wysiwyg
 * @author     Peter Spiller
 * @author     Lloyd Hazlett
 * @copyright  Copyright (c) 2008 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
   <sections>
        <admin>
            <groups>
                <fontis_wysiwyg translate="label" module="fontis_wysiwyg">
                    <label>WYSIWYG Editor</label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <editor_type translate="label">
                            <label>Editor Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fontis_wysiwyg/source_editortype</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </editor_type>
                        <editable_areas translate="label">
                            <label>Editable Areas</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fontis_wysiwyg/source_editableareas</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </editable_areas>
                        <editable_areas_custom translate="comment">
                            <label></label>
                            <frontend_model>fontis_wysiwyg_block_textareas</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>Use this button to specify the CSS IDs of additonal textareas that should use the WYSIWYG editor.</comment>
                        </editable_areas_custom>
                        <fckeditor_toolbarset translate="label">
                            <label>FCKeditor Toolbar Set</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fontis_wysiwyg/source_FCKToolbarset</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </fckeditor_toolbarset>
                        <fckeditor_skin translate="label">
                            <label>FCKeditor Skin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fontis_wysiwyg/source_FCKSkin</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </fckeditor_skin>
                        <fckeditor_upload_path translate="label">
                            <label>FCKeditor File Upload Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </fckeditor_upload_path>
                        <!--<fckeditor_customtoolbarjs translate="label">
                            <label>FCKeditor Custom Toolbar Set</label>
                            <comment>Enter your custom toolbar JavaScript code here if you selected 'Custom' above.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </fckeditor_customtoolbarjs>-->
                    </fields>
                </fontis_wysiwyg>
            </groups>
        </admin>
    </sections>
</config>
