<?xml version="1.0"?>
<config>
	<modules>
		<MageDev_Checkout>
			<version>0.0.1</version>
		</MageDev_Checkout>
	</modules>
 
	<global>
		<blocks>
			<checkout>
				<rewrite>
					<onepage_shipping_method_available>MageDev_Checkout_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
		</blocks>
	</global>
</config>